<!--The content below is only a placeholder and can be replaced.-->
<div class="div-flexed" *ngIf="data">
  <div class="div-main-child" id="div-heading" style="text-align:center">
    <img width="120" alt="Angular Logo" src="assets/globe.png" />
    <h1 class="animated rotateIn">Please select a continent</h1>
  </div>
  <div class="div-main-child" id="div-select-box" style="margin-top:1%;">
    <select class="custom-select" (change)="onChange($event.target.value)">
      <option *ngFor="let continent of data" [value]="continent.id">
        {{ continent.name }}
      </option>
    </select>
  </div>
  <div
    class="div-main-child"
    id="div-grid-result"
    style="margin-top:4%;width:70%;"
  >
    <mat-grid-list
      [cols]="breakpoint"
      rowHeight="70px"
      gutterSize="16px"
      (window:resize)="onResize($event.target.outerWidth)"
    >
      <mat-grid-tile
        [colspan]="breakpoint"
        [rowspan]="1"
        [style.background]="currentContinent.Background"
      >
        Population: {{ currentContinent.Population }}
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="(breakpoint / 3) * 2"
        [rowspan]="1"
        [style.background]="currentContinent.Background"
      >
        Countries: {{ currentContinent.Countreys }}
      </mat-grid-tile>
      <mat-grid-tile
        [rowspan]="1"
        [style.background]="currentContinent.Background"
      >
        Size: {{ currentContinent.Size }}
      </mat-grid-tile>
      <mat-grid-tile
        onmouseover=""
        style="cursor: pointer;"
        class="tileHover"
        (click)="onRowClicked()"
        [colspan]="breakpoint"
        [rowspan]="2"
        [style.background]="traveledClr"
      >
        <mat-grid-tile-footer>
          <span id="span-click">
            Click to edit
          </span>
        </mat-grid-tile-footer>
        <div id="div-traveled">
          <span>Traveled: {{ currentContinent.Traveled }}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <br />
    <div *ngIf="divVisibilty" class="div-flexed">
      <input
        type="text"
        maxlength="3"
        (keyup)="onKey($event)"
        style="background-color: whitesmoke;border: transparent;text-align:center;border-radius: 10px;margin:auto"
      />
      <br />
      <button
        id="btnUpdate"
        class="button"
        style="margin:auto;margin-top: 10px;"
        (click)="updateItem()"
      >
        Update
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
