<!--The content below is only a placeholder and can be replaced.-->
<ng-container *ngIf="data">
  <div style="text-align:center">
    <br />
    <img width="120" alt="Angular Logo" src="assets/globe.png" />
    <br />
    <h1 class="animated fadeInDown"><i class="icon icon-arrow-down"></i></h1>
    <h1 class="animated rotateIn">Please select a continent</h1>
  </div>
  <div style="margin-top:1%;width:200px;position:absolute;left:45%;">
    <select class="custom-select" (change)="onChange($event.target.value)">
      <option *ngFor="let continent of data" [value]="continent.id">
        {{ continent.name }}
      </option>
    </select>
  </div>
  <div style="margin-top:4%;width:800px;position:absolute;left:35%;">
    <mat-grid-list [cols]="breakpoint" rowHeight="70px" gutterSize="16px" (window:resize)="onResize($event.target.innerWidth)">
      <mat-grid-tile
        [rowspan]="1"
        [style.background]="currentContinent.Background"
      >
        Population: {{ currentContinent.Population }}
      </mat-grid-tile>
      <mat-grid-tile
        [rowspan]="1"
        [style.background]="currentContinent.Background"
      >
        Countries: {{ currentContinent.Countreys }}
      </mat-grid-tile>
      <mat-grid-tile
        [rowspan]="1"
        [style.background]="currentContinent.Background"
      >
        Size: {{ currentContinent.Size }}
      </mat-grid-tile>
      <mat-grid-tile
        (click)="onRowClicked()"
        onmouseover=""
        style="cursor: pointer;"
        class="tileHover"
        [rowspan]="2"
        [style.background]="traveledClr"
      >
        <mat-grid-tile-footer>
          Click to edit
        </mat-grid-tile-footer>
        Traveled: {{ currentContinent.Traveled }}
      </mat-grid-tile>
    </mat-grid-list>
    <br />
    <div *ngIf="divVisibilty">
      <input
        type="text"
        maxlength="3"
        (keyup)="onKey($event)"
        style="background-color: whitesmoke;border: transparent;position: absolute;left:25%;text-align:center;border-radius: 10px;"
      />
      <br />
      <button
        id="btnUpdate"
        class="button"
        style="margin-left: 230px;margin-top: 10px;"
        (click)="updateItem()"
      >
        Update
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</ng-container>
